{% extends 'layout.html' %} {% block body %}

<style>
  html body {
    background-color: #000;
  }
</style>
<!--Form Section-->
<br /><br />
<h1 style="text-align: center; margin: 0px; color: #fca311">
  <b>Find out the most suitable crop to grow in your farm</b>
</h1>
<br />

<div
  style="
    width: 650px; /* Adjusted width to accommodate two fields side by side */
    height: 50rem;
    margin: 0px auto;
    color: #e5e5e5;
    border-radius: 25px;
    padding: 10px 10px;
  "
>
  <form method="POST" action="{{ url_for('crop_prediction') }}">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="Nitrogen" style="font-size: 17px"><b>Nitrogen</b></label>
          <input
            type="number"
            class="form-control"
            id="Nitrogen"
            name="nitrogen"
            placeholder="Enter the value  (example:50)"
            style="font-weight: bold"
            required
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="Phosphorous" style="font-size: 17px"
            ><b>Phosphorous</b></label
          >
          <input
            type="number"
            class="form-control"
            id="Phosphorous"
            name="phosphorous"
            placeholder="Enter the value (example:50)"
            style="font-weight: bold"
            required
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="Pottasium" style="font-size: 17px"
            ><b>Potassium</b></label
          >
          <input
            type="number"
            class="form-control"
            id="Pottasium"
            name="potassium"
            placeholder="Enter the value (example:50)"
            style="font-weight: bold"
            required
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="ph" style="font-size: 17px"><b>pH level</b></label>
          <input
            type="number"
            step="0.01"
            class="form-control"
            id="ph"
            name="ph"
            placeholder="Enter the value"
            style="font-weight: bold"
            required
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="Rainfall" style="font-size: 17px"
            ><b>Rainfall (in mm)</b></label
          >
          <input
            type="number"
            step="0.01"
            class="form-control"
            id="Rainfall"
            name="rainfall"
            placeholder="Enter the value"
            style="font-weight: bold"
            required
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="State" style="font-size: 17px"><b>State</b></label>
          <select
            onchange="print_city('state', this.selectedIndex);"
            id="sts"
            name="stt"
            class="form-control"
            style="font-weight: bold; color: #000"
            required
          ></select>
          <br />
          <label for="City" style="font-size: 17px"><b>City</b></label>
          <select
            id="state"
            class="form-control"
            name="city"
            style="font-weight: bold; color: #000"
            required
          ></select>
          <script language="javascript">
            print_state("sts");
          </script>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <button
        type="submit"
        class="btn btn-info"
        style="
          color: #000;
          font-weight: bold;
          border-radius: 12px;
          font-size: 21px;
          background-color: #fca311;
          padding: 20px;
          border: none;
        "
      >
        Predict
      </button>
    </div>
  </form>
</div>

<!-- Form section -->

{% endblock %}
